.card {
  padding-left: 200pt;

 

  /* background-color: rgb(197, 197, 197);
  background-Image: "radial-gradient( #153c3f , #fff )"
  margin-top: 50pt;*/
  /* margin-left: 180pt;*/
  padding-top: 50pt;
  margin-left: 200px;
  /*background-image: url("https://uploads.codesandbox.io/uploads/user/5a8296c6-7471-4ec2-9d8e-f668f7d19acc/LpZZ-log.jpg");*/
 
}
